.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-link {
  display: inline-block;
  padding: 5px;
  color: rgb(0, 0, 0);
}

.nav-link:hover,
.nav-link:focus {
  color: dimgray;
}
.nav-link.nav-link--active {
  color: #daa520;
}

.nav-link.nav-link--disabled {
  color: dimgray;
}
